table {
    border-collapse: collapse;
    width: 100%;
    background:var(--table);
    border-spacing: 0;
  }
  
  table td, table th {
    border: 1px solid var(--border-table);
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: var(--background);}
  
  /* table tr:hover {background-color: #ddd;} */
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary);
    color: white;
  }
